:root {
  --primary-color: #ff7676;
  --secondary-color: #5dae8b;
  --tertiary-color: #466c95;
  --button-color: #f6f49d;
}
body {
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
}
/* Menu de navegação */
li {
  list-style: none;
}
a {
  color: var(--tertiary-color);
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
}
/* Capa de entrada do site */
.parkBrazil {
  height: 500px;
  width: 100%;
  background: var(--secondary-color);
}
.nationalPark {
  align-self: center;
  color: white;
}
.nationalPark h1 {
  font-size: 90px;
}
/* especificações do subtitulos - título uc  e learn more */
h2 {
  color: var(--primary-color);
  font-size: 40px;
}
/* Seção sobre parques nacionais e botão */
.info-UC {
  flex-basis: 50%;
}
button {
  border-radius: 25px;
  border: transparent;
  background-color: var(--button-color);
  color: rgba(0, 0, 0, 0.6);
  transition: all 200ms ease-in-out;
}
button:hover {
  color: rgba(0, 0, 0, 0.6);
  background: var(--primary-color);
}
/* galeria de fotos */
.photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto 20px auto;
  grid-gap: 12px;
  padding: 12px;
}
.photoPark {
  position: relative;
}

.photoPark,
.photoGal {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}
/* hover das imagens da galeria */
.name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms;
}

.name:hover {
  opacity: 1;
}
.photoA {
  color: white;
}

/* seção do learn more - rodapé */
.learn {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0;
  font-size: 18px;
  justify-content: center;
  margin: 30px 0 60px 0;
}

.learnMore {
  display: flex;
  background-color: #f6f49d;
  border-radius: 40px;
  padding: 20px 15px;
  margin: 10px;
}
.learn li {
  margin-left: 50px;
}

.author {
  padding: 20px;
  margin: 20px;
  font-size: 14px;
}
